@charset "utf-8";
/* CSS Document */


/* individual */
p { color: #FFFFFF;  }
h1 { color:#A34547; }
h2 {color:#FFFFFF; }
h3 {color:#FF0004; }
/* common to all tags */
h1, h2, p, h3 { font-family: gotham, "Helectica Neue" ,
helectiva, Arial, "sans-serif";
}

/* using class and ID */
#main { border: #ccc solid 2px; padding: 5px; }


/* CSS for footer */
.footer {
display: flex;
justify-content: space-between;
align-items: LEFT;
background-color: #000000;
padding: 10PX;
background-size :cover;
}

.footer .copy {
color: #FF0000;
font-size: 25px;
}

.bottom-links {
display: flex;
justify-content: space-around;
align-items: LEFT;
padding: 20px 0;
}

.bottom-links .links {
display: flex;
flex-direction: column;
justify-content: center;
align-items: LEFT;
padding: 0 20px;
}

.bottom-links .links span {
font-size: 25px;
color: #FFFFFF;
text-transform: uppercase;
margin: 10px 0;
}

.bottom-links .links a {
font-size: 30px;
text-decoration: none;
color: #FFFFFF;
padding: 10px 20px;
align-content: center
}

.zoom-without-cotainer {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom-without-cotainer img {
    width: 100%;
    height: auto;
}

.zoom-without-cotainer:hover {
    transform: scale(1.2);
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    margin-bottom: 15px;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.shop-item {
    text-align: left;
}

.shop-item-title {
    display: block;
    width: 100%;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 480px;
    width: 480px;
}

.shop-item-details {
    align-items: left;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #FF0004;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #FFFFFF;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #FFFFFF;
}

.cart-quantity {
    width: 35%;
}

.cart-size {
    width: 35%;
}

.cart-item-title {
    color: #FFFFFF;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #FFFFFF;
    margin-right: 20px;
}

.cart-total-price {
    color: #FFFFFF;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}